name: cubingcontests

services:
  caddy:
    container_name: cc-caddy
    image: caddy:2.11-alpine
    networks:
      - shared
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - ./volumes/caddy/:/etc/caddy/:ro
      - ./down-for-maintenance-page.html:/srv/down-for-maintenance-page.html:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      NEXTJS_PORT: ${NEXTJS_PORT}
      KONG_HTTP_PORT: ${KONG_HTTP_PORT}
      PROD_HOSTNAME: ${PROD_HOSTNAME}
    restart: unless-stopped

  nextjs:
    container_name: cc-nextjs
    image: ${DOCKER_IMAGE_NAME}
    networks:
      - shared
    volumes:
      # THIS IS TEMPORARY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      - ./client/dump/:/app/dump/:ro
    environment:
      DATABASE_URL: postgresql://${CC_DB_USERNAME}.${POOLER_TENANT_ID}:${CC_DB_PASSWORD}@supabase-pooler:${POOLER_PROXY_PORT_TRANSACTION}/${POSTGRES_DB}
      CC_DB_SCHEMA: ${CC_DB_SCHEMA}
      EMAIL_API_KEY: ${EMAIL_API_KEY}
      BETTER_AUTH_URL: https://${PROD_HOSTNAME} # same as NEXT_PUBLIC_BASE_URL in the publish script
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
      LOGFLARE_API_BASE_URL: http://supabase-analytics:${LOGFLARE_PORT}
      LOGFLARE_PUBLIC_ACCESS_TOKEN: ${LOGFLARE_PUBLIC_ACCESS_TOKEN}
      MIGRATE_DB: ${MIGRATE_DB} # THIS IS TEMPORARY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    restart: always

networks:
  shared:
    name: cubingcontests_shared
    external: true # configured in the Supabase Docker Compose file
volumes:
  caddy_data:
  caddy_config:
