name: recordranks

services:
  caddy:
    container_name: rr-caddy
    image: caddy:2.11-alpine
    networks:
      - shared
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - ./volumes/caddy/:/etc/caddy/:ro
      - ./down-for-maintenance-page.html:/srv/down-for-maintenance-page.html:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      KONG_HTTP_PORT: ${KONG_HTTP_PORT}
      PROD_HOSTNAME: ${PROD_HOSTNAME}
      SUPABASE_PUBLIC_URL: ${SUPABASE_PUBLIC_URL}
    restart: unless-stopped

  nextjs:
    container_name: rr-nextjs
    image: ${DOCKER_IMAGE_NAME}
    networks:
      - shared
    ports:
      - 127.0.0.1:${NEXTJS_PORT}:3000 # the Caddyfile assumes the Next JS port used internally in the container is 3000
    environment:
      # Mostly the same as DATABASE_URL in .env.development
      DATABASE_URL: postgresql://${RR_DB_USERNAME}.${POOLER_TENANT_ID}:${RR_DB_PASSWORD}@supabase-pooler:${POOLER_PROXY_PORT_TRANSACTION}/${POSTGRES_DB}
      RR_DB_SCHEMA: ${RR_DB_SCHEMA}
      PROD_HOSTNAME: ${PROD_HOSTNAME}
      EMAIL_API_KEY: ${EMAIL_API_KEY}
      BETTER_AUTH_URL: ${BETTER_AUTH_URL}
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
      LOGFLARE_API_BASE_URL: ${LOGFLARE_API_BASE_URL}
      LOGFLARE_PUBLIC_ACCESS_TOKEN: ${LOGFLARE_PUBLIC_ACCESS_TOKEN}
      SERVICE_ROLE_KEY: ${SERVICE_ROLE_KEY}
      SUPABASE_STORAGE_URL: ${SUPABASE_STORAGE_URL}
      PUBLIC_EXPORTS_BUCKET_NAME: ${PUBLIC_EXPORTS_BUCKET_NAME}
      DO_DB_CONSISTENCY_CHECKS: ${DO_DB_CONSISTENCY_CHECKS}
      MIGRATE_DB: ${MIGRATE_DB} # THIS IS TEMPORARY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    restart: always

networks:
  shared:
    name: recordranks_shared
    external: true # configured in the Supabase Docker Compose file
volumes:
  caddy_data:
  caddy_config:
