# TO-DO: IMPROVE HARDENING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

{$PROD_HOSTNAME} {
  reverse_proxy http://cc-nextjs:{$NEXTJS_PORT}

  handle_errors 500 502 503 504 {
    rewrite * /down-for-maintenance-page.html
    root * /srv
    file_server
  }
}

www.{$PROD_HOSTNAME} {
  redir https://{$PROD_HOSTNAME}{uri} permanent
}

supabase.{$PROD_HOSTNAME} {
  reverse_proxy http://supabase-kong:{$KONG_HTTP_PORT}
}