{
  servers {
    keepalive_interval 60s
  }
}

(security) {
  header {
    # disable FLoC tracking
    Permissions-Policy interest-cohort=()

    # enable HSTS
    Strict-Transport-Security "max-age=31536000; includeSubDomains"

    # disable clients from sniffing the media type
    X-Content-Type-Options nosniff

    # Other
    Referrer-Policy strict-origin-when-cross-origin
    Content-Security-Policy "default-src 'self' https://*.worldcubeassociation.org/;
                             script-src 'self' 'unsafe-inline' 'unsafe-eval';
                             style-src 'self' 'unsafe-inline';
                             img-src 'self' {$SUPABASE_PUBLIC_URL} data:"
    X-Frame-Options SAMEORIGIN
    -X-Powered-By # hide "powered by Next JS"
    via Caddy # hide the Caddy version
  }
}

{$PROD_HOSTNAME} {
  import security

  reverse_proxy http://rr-nextjs:3000

  handle_errors 500 502 503 504 {
    rewrite * /down-for-maintenance-page.html
    root * /srv
    file_server
  }
}

www.{$PROD_HOSTNAME} {
  import security

  redir https://{$PROD_HOSTNAME}{uri} permanent
}

{$SUPABASE_PUBLIC_URL} {
  import security

  reverse_proxy http://supabase-kong:{$KONG_HTTP_PORT}
}